.crypto {
    background-color: var(--hover-color);
    position: relative;
    margin: 80px 0;
}

.crypto__image {
    position: absolute;
    z-index: 50;
}

.crypto__imageBottomLeft {
    bottom: 0;
}

.crypto__imageTopRight {
    right: 0;
}

.crypto__imageCenter {
    left: 50%;
    transform: translateX(-50%);
}

.crypto__imageBottomRight {
    bottom: 0;
    right: 0;
}

.crypto__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28rem;

}

.crypto__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.crypto__title {
    font-weight: bold;
    color: #191919;
    font-size: var(--font-size-large);
    letter-spacing: 0.1em;
    padding-bottom: 24px;
    text-align: center;
}

.crypto__subtitle {
    font-size: var(--font-size-medium);
    color: #1a1a1a;
    font-weight: 500;
    width: 75%;
    text-align: center;
    padding-bottom: 48px;
    letter-spacing: 0.1em;
}

.crypto__buttons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.crypto__button {
    border-radius: 24px;
    cursor: pointer;
    font-size: var(--font-size-medium);
    letter-spacing: 0.1em;
    padding: 8px 16px;
}

.crypto__buttonPrimary {
    background-color: #000000;
    color: var(--primary-color);
}

.crypto__buttonSecondary {
    background-color: transparent;
    border: 2px solid #2a2a2a;
    color: #000000;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .crypto__title {
        font-size: var(--font-size-large);
    }
}

@media (max-width: 640px) {
    .crypto__content {
        height: 20rem;
    }

    .crypto__title {
        font-size: var(--font-size-medium);
    }

    .crypto__subtitle {
        font-size: var(--font-size-small);
        width: 83.33%;
    }

    .crypto__button {
        font-size: var(--font-size-small);
        padding: 8px 16px;
    }
}
