.testimonialContainer {
    margin: 5rem 6rem 5rem 2rem;
}

@media (max-width: 1024px) {
    .testimonialContainer {
        margin-left: 4rem;
    }
}

@media (max-width: 768px) {
    .testimonialContainer {
        margin: 0 2rem;
    }
}

@media (max-width: 480px) {
    .testimonialContainer {
        margin: 0 1rem;
    }
}
