.nav {
    width: 100%;
    background-color: transparent;
    top: 10px;
    position: fixed;
    z-index: 900;
    font-size: var(--font-size-large);
    overflow: hidden;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1400px;
    width: 100%;
}

.nav__logo {
    height: 50px;
}

.nav__links {
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2px;
}

.nav__item button {
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--text-color);
    border: 1px solid transparent;
    box-sizing: border-box;
}

.nav__item button:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}


.nav__button {
    margin-left: 5px;
}

.nav__mobile {
    display: none;
}

.navbar__openBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar__drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    padding: 10px 20px;
}

.nav__list_mobile {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .navbar__drawer {
    }

    .nav__links {
        display: none !important;
    }

    .nav__mobile {
        display: flex !important;
    }

    .navbar__box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar__closeBtn {
        display: block;
    }

    .nav__mobile {
        display: flex;
    }

    .nav__list_mobile {
        list-style: none;
        cursor: pointer;
        padding: 0;
        margin-top: 20px;
        display: flex    ;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}
