.about_us {
    margin: 80px 0;
    padding-bottom: 80px;
}

.about_us__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    margin-right: 40px;
}

.about_us__image {
    max-width: 100%;
}

.about_us__content {
    padding-left: 32px;
}

.about_us__title {
    text-transform: uppercase;
    color: var(--hover-color);
    letter-spacing: 0.4rem;
    font-weight: bold;
    font-size: var(--font-size-medium);
    padding-bottom: 8px;
}

.about_us__heading {
    font-size: var(--font-size-large);
    font-weight: bold;
    padding-bottom: 40px;
    letter-spacing: 0.1em;
    line-height: 3rem;
    color: white;
}

.about_us__text {
    padding-bottom: 40px;
    font-size: var(--font-size-medium);
    letter-spacing: 0.1em;
    line-height: 2rem;
}

@media (max-width: 1024px) {
    .about_us__container {
        gap: 40px;
    }
    .about_us__heading {
        font-size: var(--font-size-large);
    }
}

@media (max-width: 640px) {
    .about_us__container {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
        gap: 80px;
    }
    .about_us__content {
        padding-left: 16px;
        margin-right: 0;
    }
}
